datafromclient/
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*.aux
*.log
*.pdf
*.toc
*.lof
*.lot
*.ent
*.idx
*.ind
*.tocka
rajaneeshdesings/
images/
new/
newimages/
YogaBookImagesSample/
asana-translations/
02.11.26 Nishith A - Kannada Translation File v1/
Kuraṇṭapaddhati\ I\ (originals)/
Kuraṇṭapaddhati\ I\ (y\ cropped\ print\ ready\ PNG\ only)/
"Kura\341\271\207\341\271\255apaddhati\ I\ (originals)/"
"Kura\341\271\207\341\271\255apaddhati\ I\ (y\ cropped\ print\ ready\ PNG\ only)/"
fonts/
*.sh
originalscans/
HH corrections*
from-jason/
vidya-sankirtana-sudha-lahari/
new-high-resolution-photos/
